2. Problem Statement
Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Task:

In [1]:
import pandas as pd
import sqlite3 as sql
from sqlalchemy import create_engine

## 1. Create an sqlalchemy engine using a sample from the data set

In [2]:

engine = create_engine('sqlite:///sqladb', echo=True)

In [3]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.columns =['age','workclass','fnlwgt','education','education-num','marital-status','occupation',
           'relationship','race','sex','capital-gain','capital-loss',
           'hours-per-week','native-country','salary_slab']

In [5]:
df.to_sql('sqladb',engine,if_exists='replace')

2018-06-13 22:51:58,783 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-06-13 22:51:58,798 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,802 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-06-13 22:51:58,804 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,821 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("sqladb")
2018-06-13 22:51:58,824 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,846 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("sqladb")
2018-06-13 22:51:58,847 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,850 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-06-13 22:51:58,851 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,855 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("sqladb")
2018-06-13 22:51:58,856 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,860 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sqladb' AND type = 'table'
2018-06-13 22:51:58,861 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,864 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("sqladb")
2018-06-13 22:51:58,865 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,867 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sqladb' AND type = 'table'
2018-06-13 22:51:58,868 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,874 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("sqladb")
2018-06-13 22:51:58,881 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,884 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_sqladb_index")
2018-06-13 22:51:58,884 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,887 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("sqladb")
2018-06-13 22:51:58,888 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,891 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_sqladb_index")
2018-06-13 22:51:58,892 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,894 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sqladb' AND type = 'table'
2018-06-13 22:51:58,894 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:58,900 INFO sqlalchemy.engine.base.Engine
DROP TABLE sqladb
2018-06-13 22:51:58,902 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:59,462 INFO sqlalchemy.engine.base.Engine COMMIT
2018-06-13 22:51:59,487 INFO sqlalchemy.engine.base.Engine
CREATE TABLE sqladb (
	"index" BIGINT,
	age BIGINT,
	workclass TEXT,
	fnlwgt BIGINT,
	education TEXT,
	"education-num" BIGINT,
	"marital-status" TEXT,
	occupation TEXT,
	relationship TEXT,
	race TEXT,
	sex TEXT,
	"capital-gain" BIGINT,
	"capital-loss" BIGINT,
	"hours-per-week" BIGINT,
	"native-country" TEXT,
	salary_slab TEXT
)


2018-06-13 22:51:59,490 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:59,662 INFO sqlalchemy.engine.base.Engine COMMIT
2018-06-13 22:51:59,665 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_sqladb_index ON sqladb ("index")
2018-06-13 22:51:59,667 INFO sqlalchemy.engine.base.Engine ()
2018-06-13 22:51:59,762 INFO sqlalchemy.engine.base.Engine COMMIT
2018-06-13 22:51:59,853 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-06-13 22:52:00,401 INFO sqlalchemy.engine.base.Engine INSERT INTO sqladb ("index", age, workclass, fnlwgt, education, "education-num", "marital-status", occupation, relationship, race, sex, "capital-gain", "capital-loss", "hours-per-week", "native-country", salary_slab) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-06-13 22:52:00,401 INFO sqlalchemy.engine.base.Engine ((0, 39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K'), (1, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K'), (2, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (3, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (4, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K'), (5, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (6, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K'), (7, 52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K')  ... displaying 10 of 32561 total bound parameter sets ...  (32559, 22, ' Private', 201490, ' HS-grad', 9, ' Never-married', ' Adm-clerical', ' Own-child', ' White', ' Male', 0, 0, 20, ' United-States', ' <=50K'), (32560, 52, ' Self-emp-inc', 287927, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 15024, 0, 40, ' United-States', ' >50K'))
2018-06-13 22:52:00,627 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
connection = engine.connect()

In [7]:
pd.read_sql_query("select * from sqladb limit 20",con=connection)

2018-06-13 22:52:13,521 INFO sqlalchemy.engine.base.Engine select * from sqladb limit 20
2018-06-13 22:52:13,523 INFO sqlalchemy.engine.base.Engine ()

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary_slab
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K

# 2. Write two basic update queries

In [55]:
query1 = """
            update sqladb set "native-country" = "USA" 
        """
#pd.read_sql_query("""update sqladb set "native-country" = "USA" where "native-country" = "United-States" """,con=connection)
engine.execute(query1)

2018-06-13 23:43:03,344 INFO sqlalchemy.engine.base.Engine
            update sqladb set "native-country" = "USA"

INFO:sqlalchemy.engine.base.Engine:
            update sqladb set "native-country" = "USA"

2018-06-13 23:43:03,347 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-06-13 23:43:03,809 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [29]:
q = """ update sqladb set "education-num" = "education-num" + 10 """
engine.execute(q)

2018-06-13 23:11:15,643 INFO sqlalchemy.engine.base.Engine  update sqladb set "education-num" = "education-num" + 10

INFO:sqlalchemy.engine.base.Engine: update sqladb set "education-num" = "education-num" + 10

2018-06-13 23:11:15,647 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-06-13 23:11:16,286 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [56]:
pd.read_sql_query("select * from sqladb limit 10",con=connection)

2018-06-13 23:43:12,642 INFO sqlalchemy.engine.base.Engine select * from sqladb limit 10

INFO:sqlalchemy.engine.base.Engine:select * from sqladb limit 10

2018-06-13 23:43:12,645 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary_slab
0,0,39,State-gov,77516,Bachelors,23,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,USA,<=50K
1,1,50,Self-emp-not-inc,83311,Bachelors,23,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,USA,<=50K
2,2,38,Private,215646,HS-grad,19,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,USA,<=50K
3,3,53,Private,234721,11th,17,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,USA,<=50K
4,4,28,Private,338409,Bachelors,23,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,USA,<=50K
5,5,37,Private,284582,Masters,24,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,USA,<=50K
6,6,49,Private,160187,9th,15,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,USA,<=50K
7,7,52,Self-emp-not-inc,209642,HS-grad,19,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,USA,>50K
8,8,31,Private,45781,Masters,24,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,USA,>50K
9,9,42,Private,159449,Bachelors,23,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,USA,>50K

## 3. Write two delete queries

In [65]:
q = """ delete from sqladb where age < 30 """
engine.execute(q)

2018-06-13 23:48:52,240 INFO sqlalchemy.engine.base.Engine  delete from sqladb where age < 30

INFO:sqlalchemy.engine.base.Engine: delete from sqladb where age < 30

2018-06-13 23:48:52,244 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-06-13 23:48:52,933 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [67]:
q = """ delete from sqladb where fnlwgt > 30000 """
engine.execute(q)

2018-06-13 23:50:09,061 INFO sqlalchemy.engine.base.Engine  delete from sqladb where fnlwgt > 30000

INFO:sqlalchemy.engine.base.Engine: delete from sqladb where fnlwgt > 30000

2018-06-13 23:50:09,065 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-06-13 23:50:09,141 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [68]:
qr = """
select * from sqladb 
"""
pd.read_sql(qr,con=connection)

2018-06-13 23:50:37,705 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("
select * from sqladb
")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("
select * from sqladb
")

2018-06-13 23:50:37,708 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-06-13 23:50:37,711 INFO sqlalchemy.engine.base.Engine
select * from sqladb

INFO:sqlalchemy.engine.base.Engine:
select * from sqladb

2018-06-13 23:50:37,714 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary_slab
0,18,38,Private,28887,11th,17,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,USA,<=50K
1,184,37,Federal-gov,29054,Some-college,20,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,42,USA,>50K
2,226,60,?,24215,10th,16,Divorced,?,Not-in-family,Amer-Indian-Eskimo,Female,0,0,10,USA,<=50K
3,267,64,Private,21174,HS-grad,19,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,USA,>50K
4,433,30,Private,29662,Assoc-acdm,22,Married-civ-spouse,Other-service,Wife,White,Female,0,0,25,USA,>50K
5,551,36,Self-emp-not-inc,27053,HS-grad,19,Separated,Other-service,Unmarried,White,Female,0,0,40,USA,<=50K
6,573,37,Private,22463,Assoc-voc,21,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1977,40,USA,>50K
7,577,36,Self-emp-not-inc,28738,Assoc-acdm,22,Divorced,Sales,Unmarried,White,Female,0,0,35,USA,<=50K
8,588,52,Private,25826,10th,16,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1887,47,USA,>50K
9,806,50,?,23780,Masters,24,Married-spouse-absent,?,Other-relative,White,Male,0,0,40,USA,<=50K
10,834,72,?,28929,11th,17,Widowed,?,Not-in-family,White,Female,0,0,24,USA,<=50K
11,900,63,Local-gov,28856,7th-8th,14,Married-civ-spouse,Other-service,Husband,White,Male,0,0,55,USA,<=50K
12,924,64,?,29825,HS-grad,19,Married-civ-spouse,?,Husband,White,Male,0,0,5,USA,<=50K
13,936,47,Private,21906,Masters,24,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,25,USA,<=50K
14,1016,33,Private,26973,Assoc-voc,21,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,40,USA,>50K
15,1067,36,Private,29984,12th,18,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,USA,<=50K
16,1222,53,Private,22154,Some-college,20,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,USA,<=50K
17,1224,38,Private,22245,Masters,24,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,72,USA,>50K
18,1263,73,Private,29778,HS-grad,19,Widowed,Other-service,Not-in-family,White,Female,0,0,37,USA,<=50K
19,1412,39,Private,24342,Bachelors,23,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,USA,>50K
20,1443,38,Private,27997,Assoc-voc,21,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,USA,<=50K
21,1529,37,Private,26898,HS-grad,19,Divorced,Exec-managerial,Unmarried,White,Female,0,0,12,USA,<=50K
22,1600,30,Private,27207,11th,17,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,USA,<=50K
23,1609,50,Private,21095,Some-college,20,Divorced,Other-service,Unmarried,Asian-Pac-Islander,Male,0,0,40,USA,<=50K
24,1715,39,Private,19914,Some-college,20,Divorced,Adm-clerical,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,USA,<=50K
25,1784,31,Private,19302,Assoc-acdm,22,Never-married,Adm-clerical,Not-in-family,White,Male,2202,0,38,USA,<=50K
26,1901,65,Without-pay,27012,7th-8th,14,Widowed,Farming-fishing,Unmarried,White,Female,0,0,50,USA,<=50K
27,1937,35,Private,28160,Bachelors,23,Married-spouse-absent,Exec-managerial,Unmarried,White,Female,0,0,40,USA,<=50K
28,1983,36,Private,24106,HS-grad,19,Married-civ-spouse,Craft-repair,Husband,White,Male,3103,0,40,USA,>50K
29,2066,46,Private,29696,HS-grad,19,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,USA,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,30006,43,State-gov,24763,Masters,24,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1887,45,USA,>50K
399,30036,40,Private,25005,Bachelors,23,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,99,USA,>50K
400,30044,54,Local-gov,29887,HS-grad,19,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,56,USA,<=50K
401,30123,63,Self-emp-not-inc,29859,7th-8th,14,Married-civ-spouse,Farming-fishing,Husband,White,Male,7688,0,60,USA,>50K
402,30145,65,Self-emp-not-inc,28367,HS-grad,19,Married-civ-spouse,Sales,Husband,White,Male,0,0,55,USA,<=50K
403,30203,45,Private,25649,Some-college,20,Married-civ-spouse,Transport-moving,Husband,White,Male,7298,0,50,USA,>50K
404,30282,34,Private,28053,Bachelors,23,Married-spouse-absent,Adm-clerical,Not-in-family,White,Female,0,0,25,USA,<=50K
405,30354,35,Private,22463,HS-grad,19,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,USA,<=50K
406,30495,43,Federal-gov,25005,Masters,24,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,5013,0,12,USA,<=50K
407,30586,42,Local-gov,29075,Assoc-acdm,22,Married-civ-spouse,Prof-specialty,Wife,Amer-Indian-Eskimo,Female,0,0,40,USA,<=50K
408,30598,41,Private,29702,Assoc-voc,21,Never-married,Craft-repair,Not-in-family,White,Male,0,0,30,USA,<=50K
409,30610,51,Self-emp-not-inc,24790,Some-college,20,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,USA,>50K
410,30704,37,Private,29145,Assoc-voc,21,Never-married,Other-service,Not-in-family,White,Male,0,0,40,USA,<=50K
411,30802,33,Private,25610,Assoc-acdm,22,Married-civ-spouse,Sales,Husband,Other,Male,0,0,40,USA,>50K
412,30815,54,Self-emp-not-inc,28186,Bachelors,23,Divorced,Farming-fishing,Not-in-family,White,Male,27828,0,50,USA,>50K
413,30870,56,Self-emp-not-inc,26716,Bachelors,23,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,USA,>50K
414,31122,50,Private,28952,Some-college,20,Married-civ-spouse,Sales,Wife,White,Female,0,0,39,USA,<=50K
415,31209,35,Private,29145,Assoc-voc,21,Never-married,Transport-moving,Not-in-family,White,Male,0,0,40,USA,<=50K
416,31381,30,Private,27153,HS-grad,19,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,50,USA,<=50K
417,31386,48,Self-emp-not-inc,28791,HS-grad,19,Married-civ-spouse,Sales,Wife,White,Female,0,0,50,USA,<=50K
418,31427,31,Private,20511,Bachelors,23,Never-married,Other-service,Not-in-family,White,Female,0,0,25,USA,<=50K
419,31618,42,Private,24982,Some-college,20,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,40,USA,>50K
420,31814,80,Self-emp-not-inc,26865,7th-8th,14,Never-married,Farming-fishing,Unmarried,White,Male,0,0,20,USA,<=50K
421,31850,54,Private,24108,Some-college,20,Separated,Exec-managerial,Not-in-family,White,Female,0,0,40,USA,<=50K
422,31941,62,Self-emp-not-inc,26857,7th-8th,14,Widowed,Farming-fishing,Other-relative,White,Female,0,0,35,USA,<=50K
423,31978,41,Private,29762,HS-grad,19,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,52,USA,>50K
424,32082,49,Private,23776,Some-college,20,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,USA,<=50K
425,32258,51,Self-emp-inc,28765,Prof-school,25,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,USA,>50K
426,32386,59,Federal-gov,23789,HS-grad,19,Married-civ-spouse,Sales,Wife,White,Female,0,0,40,USA,>50K
427,32550,43,Self-emp-not-inc,27242,Some-college,20,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,USA,<=50K

## 4. Write two filter queries

In [69]:
pd.read_sql("select * from sqladb where age > 40",con=connection)

2018-06-13 23:52:24,686 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("select * from sqladb where age > 40")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("select * from sqladb where age > 40")

2018-06-13 23:52:24,690 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-06-13 23:52:24,693 INFO sqlalchemy.engine.base.Engine select * from sqladb where age > 40

INFO:sqlalchemy.engine.base.Engine:select * from sqladb where age > 40

2018-06-13 23:52:24,696 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary_slab
0,226,60,?,24215,10th,16,Divorced,?,Not-in-family,Amer-Indian-Eskimo,Female,0,0,10,USA,<=50K
1,267,64,Private,21174,HS-grad,19,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,USA,>50K
2,588,52,Private,25826,10th,16,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1887,47,USA,>50K
3,806,50,?,23780,Masters,24,Married-spouse-absent,?,Other-relative,White,Male,0,0,40,USA,<=50K
4,834,72,?,28929,11th,17,Widowed,?,Not-in-family,White,Female,0,0,24,USA,<=50K
5,900,63,Local-gov,28856,7th-8th,14,Married-civ-spouse,Other-service,Husband,White,Male,0,0,55,USA,<=50K
6,924,64,?,29825,HS-grad,19,Married-civ-spouse,?,Husband,White,Male,0,0,5,USA,<=50K
7,936,47,Private,21906,Masters,24,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,25,USA,<=50K
8,1222,53,Private,22154,Some-college,20,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,USA,<=50K
9,1263,73,Private,29778,HS-grad,19,Widowed,Other-service,Not-in-family,White,Female,0,0,37,USA,<=50K
10,1609,50,Private,21095,Some-college,20,Divorced,Other-service,Unmarried,Asian-Pac-Islander,Male,0,0,40,USA,<=50K
11,1901,65,Without-pay,27012,7th-8th,14,Widowed,Farming-fishing,Unmarried,White,Female,0,0,50,USA,<=50K
12,2066,46,Private,29696,HS-grad,19,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,USA,>50K
13,2112,45,Private,26522,Some-college,20,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,1902,35,USA,>50K
14,2131,41,Local-gov,22155,Masters,24,Divorced,Prof-specialty,Unmarried,White,Female,0,0,60,USA,<=50K
15,2138,46,Private,27669,HS-grad,19,Never-married,Other-service,Not-in-family,White,Female,0,0,28,USA,<=50K
16,2311,42,Private,27444,Some-college,20,Married-spouse-absent,Prof-specialty,Not-in-family,White,Male,0,0,40,USA,>50K
17,2470,50,Federal-gov,20179,Masters,24,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,USA,>50K
18,2669,49,Private,23074,Some-college,20,Widowed,Exec-managerial,Not-in-family,White,Female,0,0,40,USA,>50K
19,2818,41,Private,23646,Masters,24,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,USA,<=50K
20,2920,63,Self-emp-not-inc,26904,HS-grad,19,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,98,USA,<=50K
21,2923,42,Self-emp-not-inc,27821,Assoc-voc,21,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,USA,<=50K
22,2959,48,Self-emp-inc,26145,10th,16,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,80,USA,<=50K
23,3022,51,Private,24185,Bachelors,23,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,USA,>50K
24,3211,82,?,29441,7th-8th,14,Widowed,?,Not-in-family,White,Male,0,0,5,USA,<=50K
25,3282,45,Private,28035,Some-college,20,Never-married,Farming-fishing,Other-relative,White,Male,0,0,50,USA,<=50K
26,3291,74,?,29866,7th-8th,14,Married-civ-spouse,?,Husband,White,Male,0,0,2,USA,<=50K
27,3297,76,?,28221,HS-grad,19,Married-civ-spouse,?,Husband,White,Male,0,0,40,USA,>50K
28,3388,46,Self-emp-not-inc,28281,Bachelors,23,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,USA,>50K
29,3866,54,Private,22743,Some-college,20,Married-civ-spouse,Transport-moving,Husband,White,Male,15024,0,60,USA,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,27950,42,Private,20809,HS-grad,19,Divorced,Craft-repair,Not-in-family,White,Male,0,0,75,USA,>50K
236,27954,53,Private,22978,Masters,24,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,50,USA,>50K
237,28333,61,Private,29059,HS-grad,19,Divorced,Sales,Unmarried,White,Female,0,2754,25,USA,<=50K
238,28406,66,Self-emp-not-inc,28061,7th-8th,14,Widowed,Farming-fishing,Unmarried,White,Male,0,0,50,USA,<=50K
239,28866,43,State-gov,28451,Bachelors,23,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,37,USA,>50K
240,28902,42,Private,29320,Bachelors,23,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,USA,<=50K
241,29372,42,Private,22831,HS-grad,19,Never-married,Other-service,Not-in-family,White,Female,0,0,40,USA,<=50K
242,29741,50,Private,22211,Masters,24,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,50,USA,>50K
243,30006,43,State-gov,24763,Masters,24,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1887,45,USA,>50K
244,30044,54,Local-gov,29887,HS-grad,19,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,56,USA,<=50K
245,30123,63,Self-emp-not-inc,29859,7th-8th,14,Married-civ-spouse,Farming-fishing,Husband,White,Male,7688,0,60,USA,>50K
246,30145,65,Self-emp-not-inc,28367,HS-grad,19,Married-civ-spouse,Sales,Husband,White,Male,0,0,55,USA,<=50K
247,30203,45,Private,25649,Some-college,20,Married-civ-spouse,Transport-moving,Husband,White,Male,7298,0,50,USA,>50K
248,30495,43,Federal-gov,25005,Masters,24,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,5013,0,12,USA,<=50K
249,30586,42,Local-gov,29075,Assoc-acdm,22,Married-civ-spouse,Prof-specialty,Wife,Amer-Indian-Eskimo,Female,0,0,40,USA,<=50K
250,30598,41,Private,29702,Assoc-voc,21,Never-married,Craft-repair,Not-in-family,White,Male,0,0,30,USA,<=50K
251,30610,51,Self-emp-not-inc,24790,Some-college,20,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,99,USA,>50K
252,30815,54,Self-emp-not-inc,28186,Bachelors,23,Divorced,Farming-fishing,Not-in-family,White,Male,27828,0,50,USA,>50K
253,30870,56,Self-emp-not-inc,26716,Bachelors,23,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,USA,>50K
254,31122,50,Private,28952,Some-college,20,Married-civ-spouse,Sales,Wife,White,Female,0,0,39,USA,<=50K
255,31386,48,Self-emp-not-inc,28791,HS-grad,19,Married-civ-spouse,Sales,Wife,White,Female,0,0,50,USA,<=50K
256,31618,42,Private,24982,Some-college,20,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,40,USA,>50K
257,31814,80,Self-emp-not-inc,26865,7th-8th,14,Never-married,Farming-fishing,Unmarried,White,Male,0,0,20,USA,<=50K
258,31850,54,Private,24108,Some-college,20,Separated,Exec-managerial,Not-in-family,White,Female,0,0,40,USA,<=50K
259,31941,62,Self-emp-not-inc,26857,7th-8th,14,Widowed,Farming-fishing,Other-relative,White,Female,0,0,35,USA,<=50K
260,31978,41,Private,29762,HS-grad,19,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,52,USA,>50K
261,32082,49,Private,23776,Some-college,20,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,USA,<=50K
262,32258,51,Self-emp-inc,28765,Prof-school,25,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,USA,>50K
263,32386,59,Federal-gov,23789,HS-grad,19,Married-civ-spouse,Sales,Wife,White,Female,0,0,40,USA,>50K
264,32550,43,Self-emp-not-inc,27242,Some-college,20,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,USA,<=50K

In [80]:
qr = """
    select * from sqladb where "education-num" >20
"""
pd.read_sql(qr,con=connection)

2018-06-14 00:15:02,100 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("
    select * from sqladb where ""education-num"" >20
")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("
    select * from sqladb where ""education-num"" >20
")

2018-06-14 00:15:02,104 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-06-14 00:15:02,107 INFO sqlalchemy.engine.base.Engine
    select * from sqladb where "education-num" >20

INFO:sqlalchemy.engine.base.Engine:
    select * from sqladb where "education-num" >20

2018-06-14 00:15:02,110 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary_slab
0,433,30,Private,29662,Assoc-acdm,22,Married-civ-spouse,Other-service,Wife,White,Female,0,0,25,USA,>50K
1,573,37,Private,22463,Assoc-voc,21,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1977,40,USA,>50K
2,577,36,Self-emp-not-inc,28738,Assoc-acdm,22,Divorced,Sales,Unmarried,White,Female,0,0,35,USA,<=50K
3,806,50,?,23780,Masters,24,Married-spouse-absent,?,Other-relative,White,Male,0,0,40,USA,<=50K
4,936,47,Private,21906,Masters,24,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,25,USA,<=50K
5,1016,33,Private,26973,Assoc-voc,21,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,40,USA,>50K
6,1224,38,Private,22245,Masters,24,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,72,USA,>50K
7,1412,39,Private,24342,Bachelors,23,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,USA,>50K
8,1443,38,Private,27997,Assoc-voc,21,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,USA,<=50K
9,1784,31,Private,19302,Assoc-acdm,22,Never-married,Adm-clerical,Not-in-family,White,Male,2202,0,38,USA,<=50K
10,1937,35,Private,28160,Bachelors,23,Married-spouse-absent,Exec-managerial,Unmarried,White,Female,0,0,40,USA,<=50K
11,2131,41,Local-gov,22155,Masters,24,Divorced,Prof-specialty,Unmarried,White,Female,0,0,60,USA,<=50K
12,2314,40,Private,29841,Bachelors,23,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,USA,<=50K
13,2470,50,Federal-gov,20179,Masters,24,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,USA,>50K
14,2818,41,Private,23646,Masters,24,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,USA,<=50K
15,2923,42,Self-emp-not-inc,27821,Assoc-voc,21,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,USA,<=50K
16,3022,51,Private,24185,Bachelors,23,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,USA,>50K
17,3216,34,Private,27380,Bachelors,23,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,USA,>50K
18,3388,46,Self-emp-not-inc,28281,Bachelors,23,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,USA,>50K
19,3887,31,?,26553,Bachelors,23,Married-civ-spouse,?,Wife,White,Female,0,0,25,USA,>50K
20,3945,38,Private,29702,Bachelors,23,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,USA,>50K
21,4358,40,Federal-gov,26358,Assoc-acdm,22,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,USA,<=50K
22,4801,50,?,22428,Masters,24,Never-married,?,Not-in-family,White,Male,0,0,40,USA,<=50K
23,5127,55,State-gov,26290,Assoc-voc,21,Widowed,Exec-managerial,Not-in-family,Amer-Indian-Eskimo,Female,0,0,38,USA,<=50K
24,5714,46,Private,27802,Assoc-voc,21,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,USA,<=50K
25,7014,34,Self-emp-inc,28984,Assoc-voc,21,Divorced,Sales,Unmarried,White,Female,0,0,40,USA,<=50K
26,7078,42,Federal-gov,25240,Assoc-voc,21,Divorced,Prof-specialty,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,USA,<=50K
27,7118,46,Private,28419,Assoc-voc,21,Never-married,Transport-moving,Not-in-family,White,Male,0,0,50,USA,<=50K
28,7119,47,Private,26950,Masters,24,Divorced,Sales,Not-in-family,White,Female,0,0,6,USA,<=50K
29,7552,35,Private,26999,Bachelors,23,Separated,Exec-managerial,Unmarried,White,Female,0,0,42,USA,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,26285,48,Private,26490,Bachelors,23,Widowed,Other-service,Unmarried,White,Female,0,0,20,USA,<=50K
109,26987,37,State-gov,29145,Bachelors,23,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,USA,>50K
110,27075,40,Self-emp-not-inc,26892,Bachelors,23,Married-AF-spouse,Prof-specialty,Husband,White,Male,7298,0,50,USA,>50K
111,27113,57,Self-emp-not-inc,27385,Bachelors,23,Married-civ-spouse,Sales,Husband,White,Male,0,0,10,USA,<=50K
112,27119,50,Local-gov,24139,Masters,24,Divorced,Prof-specialty,Unmarried,White,Female,0,0,65,USA,<=50K
113,27142,34,Private,24266,Assoc-voc,21,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,40,USA,>50K
114,27223,76,Federal-gov,25319,Masters,24,Widowed,Prof-specialty,Not-in-family,White,Female,0,0,15,USA,<=50K
115,27375,43,State-gov,27661,Masters,24,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,45,USA,<=50K
116,27633,32,Local-gov,19302,Assoc-acdm,22,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,56,USA,>50K
117,27721,61,Local-gov,28375,Masters,24,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,70,USA,<=50K
118,27954,53,Private,22978,Masters,24,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,50,USA,>50K
119,28866,43,State-gov,28451,Bachelors,23,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,37,USA,>50K
120,28902,42,Private,29320,Bachelors,23,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,USA,<=50K
121,29467,30,Private,24292,Bachelors,23,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,USA,>50K
122,29696,32,Private,29933,Bachelors,23,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,50,USA,>50K
123,29707,38,Private,22245,Assoc-voc,21,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,USA,<=50K
124,29741,50,Private,22211,Masters,24,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,50,USA,>50K
125,30006,43,State-gov,24763,Masters,24,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1887,45,USA,>50K
126,30036,40,Private,25005,Bachelors,23,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,99,USA,>50K
127,30282,34,Private,28053,Bachelors,23,Married-spouse-absent,Adm-clerical,Not-in-family,White,Female,0,0,25,USA,<=50K
128,30495,43,Federal-gov,25005,Masters,24,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,5013,0,12,USA,<=50K
129,30586,42,Local-gov,29075,Assoc-acdm,22,Married-civ-spouse,Prof-specialty,Wife,Amer-Indian-Eskimo,Female,0,0,40,USA,<=50K
130,30598,41,Private,29702,Assoc-voc,21,Never-married,Craft-repair,Not-in-family,White,Male,0,0,30,USA,<=50K
131,30704,37,Private,29145,Assoc-voc,21,Never-married,Other-service,Not-in-family,White,Male,0,0,40,USA,<=50K
132,30802,33,Private,25610,Assoc-acdm,22,Married-civ-spouse,Sales,Husband,Other,Male,0,0,40,USA,>50K
133,30815,54,Self-emp-not-inc,28186,Bachelors,23,Divorced,Farming-fishing,Not-in-family,White,Male,27828,0,50,USA,>50K
134,30870,56,Self-emp-not-inc,26716,Bachelors,23,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,USA,>50K
135,31209,35,Private,29145,Assoc-voc,21,Never-married,Transport-moving,Not-in-family,White,Male,0,0,40,USA,<=50K
136,31427,31,Private,20511,Bachelors,23,Never-married,Other-service,Not-in-family,White,Female,0,0,25,USA,<=50K
137,32258,51,Self-emp-inc,28765,Prof-school,25,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,USA,>50K

## 5. Write two function queries

In [ ]:
def get10yearsOlder(age):
    return age + 10

query22 = ' select age, get10yearsOlder(age) from sqladb '
pd.read_sql(query22,con=connection)